<div class="ui fluid attached inverted massive green borderless menu">
  <div class="ui container">
    {{#link-to "home" class="brand header item"}}
      <img src="assets/images/ember-logo.png">
      Leaflet-Draw
    {{/link-to}}
    {{link-to "Docs" "docs" class="item"}}
    {{link-to "Examples" "examples" class="item"}}
    <div class="right menu">
      <a href="https://github.com/StevenHeinrich/ember-leaflet-draw"  target="_blank" class="item">GitHub</a>
    </div>
  </div>
</div>

<div class="ui main container">
  {{outlet}}
</div>
